:root{ 
    --blue: #2644d9; 
    --white:#ffffff;
    --grey:#585858;
    --theme:#922eef;
    }

.callToAction > h3{
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
    color:var(--theme);

}
.callToAction > a{
    margin: auto;
    display: block;
    max-width: 110px;
    padding:10px 15px;
    background:var(--theme);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    text-decoration: none;

}